
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4170a5;
    padding-top: 5%;
}
.form-test{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content:center;
    gap: 40px;
    background: rgba(248, 248, 248, 0.88);
    margin: auto;

}
.input{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: gray;
}
#name{
    height: 40px;
    font-size: 30px;
}
.pair{
    padding-top: 100px;

    width: 60%;
}
.list-comment{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: gray;
    margin-top: 40px;

}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-top:165px;

}
button{
    border-radius: 10px;
    background: #b1aaaa;
    box-shadow: 0 2px rgba(167, 217, 236, 0.38);
    height: 40px;
    padding: 0 30px  ;
}
#comment{
    height: 300px;
    max-height: 300px;
    overflow: auto;
    width: 100%;
    font-size: 20px;
    color: black;
    border: 1px solid gray;
    background: white;
}
#not{
    height: 20px;
    color: #ef0707;
}

#sort-name{
    margin-top: 150px;
}
