@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background: #c361c3;
    }

    .form-test {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        background: rgba(248, 248, 248, 0.88);
        margin: auto;
    }

    #comment {
        height: 100px;
        max-height: 100px;
        overflow: auto;
        width: 100%;
        font-size: 16px;
        color: black;
        border: 1px solid gray;
        background: white;
    }

    #sort-name {
        margin-top: 90px;
    }

    .pair {
        padding-top: 30px;
    }

    .buttons {

        gap: 10px;
        margin-top: 100px;

    }

    button {

        height: 20px;
        padding: 0 30px


    }
}
